.description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(17, 16, 16, 0.904);
}

.descriptionMap {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 5px 5px 10px 5px;
  background: #fff;
}

.map {
  border: 1px solid #ccc;
  width: 285px;
  height: 135px;
}

.descriptionLinks {
  margin-top: 10px;
}

.address {
  font-weight: bold;
}
