.title {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 25px;
  max-width: 1000px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.claimed {
  font-size: 14px;
}
.name {
  margin: 0;
  padding-right: 10px;
  font-size: 33px;
  font-weight: 560;
  color: rgba(17, 16, 16, 0.904);
}
